<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style></style>
    <body>
        <h2>Reset Your Password</h2>
        <h3>Password Reset</h3>
        <p>Hello {{username}}</p>
        <p>Please <a href="http://{{OTL}}">click here</a> to reset your password.</p>
    </body>
</html>