<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style></style>
    <body>
        <h2>Password Changed</h2>
        <p>Hey {{username}}, You are receiving this e-mail because you requested a password reset for your account.</p>
        <p>Your password has been changed successfully.</p>
    </body>
</html>